@using Dashboard.PL.ViewModels.IdentityVMs

@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}


<div class="main-agileinfo">
    <div class="agileits-top">
        <form asp-action="SendEmail" method="post" asp-controller="Account">
            <div asp-validation-summary="ModelOnly"></div>
           
            <input asp-for="Email" placeholder="Email" required="">
            <span asp-validation-for="Email"></span>
            <br />

            <input type="submit" value="SendEmail">
        </form>
    </div>
</div>

@section Validation {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

